/* Chat containers */
.Message {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Clear floats */
.Message::after {
  content: "";
  clear: both;
  display: table;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ffe2e1;
}

/* Style time text */
.username-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.username-left {
  float: left;
  color: #999;
}
