.message-list {
  /* width: 12em; */
    height: 80vh;
    line-height: 2em;
    border: 1px solid #ccc;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 0pt;
    text-align: left;
}
