.TopBar {
  width: 100vw;
  height: 20vh;
}

.TopBar-Header {
  width: 70vw;
  height: 20vh;
  float: left;
}

.TopBar-Logo {
  width: 10vw;
  height: 20vh;
  float: left;
}

.TopBar-MainProfile {
  width: 20vw;
  height: 20vh;
  float: left;
}
