$color-primary-0: #528965;	// Main Primary color */
$color-primary-1: #90CDA5;
$color-primary-2: #71A984;
$color-primary-3: #417051;
$color-primary-4: #2E4937;

$color-secondary-1-0: #BCB770;	// Main Secondary color (1) */
$color-secondary-1-1: #FFFBB3;
$color-secondary-1-2: #E7E39A;
$color-secondary-1-3: #999559;
$color-secondary-1-4: #64623F;

$color-secondary-2-0: #5B5582;	// Main Secondary color (2) */
$color-secondary-2-1: #9992C5;
$color-secondary-2-2: #7871A0;
$color-secondary-2-3: #49436A;
$color-secondary-2-4: #322F45;

$color-complement-0: #BC7C70;	// Main Complement color */
$color-complement-1: #FFBFB3;
$color-complement-2: #E7A69A;
$color-complement-3: #996359;
$color-complement-4: #64453F;



// As RGBa codes */

$rgba-primary-0: rgba( 82,137,101,1);	// Main Primary color */
$rgba-primary-1: rgba(144,205,165,1);
$rgba-primary-2: rgba(113,169,132,1);
$rgba-primary-3: rgba( 65,112, 81,1);
$rgba-primary-4: rgba( 46, 73, 55,1);

$rgba-secondary-1-0: rgba(188,183,112,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,251,179,1);
$rgba-secondary-1-2: rgba(231,227,154,1);
$rgba-secondary-1-3: rgba(153,149, 89,1);
$rgba-secondary-1-4: rgba(100, 98, 63,1);

$rgba-secondary-2-0: rgba( 91, 85,130,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(153,146,197,1);
$rgba-secondary-2-2: rgba(120,113,160,1);
$rgba-secondary-2-3: rgba( 73, 67,106,1);
$rgba-secondary-2-4: rgba( 50, 47, 69,1);

$rgba-complement-0: rgba(188,124,112,1);	// Main Complement color */
$rgba-complement-1: rgba(255,191,179,1);
$rgba-complement-2: rgba(231,166,154,1);
$rgba-complement-3: rgba(153, 99, 89,1);
$rgba-complement-4: rgba(100, 69, 63,1);
