$color-primary-0: #794E8E;	// Main Primary color */
$color-primary-1: #804C99;
$color-primary-2: #7E4E95;
$color-primary-3: #6F4682;
$color-primary-4: #68417A;

$color-secondary-1-0: #50986F;	// Main Secondary color (1) */
$color-secondary-1-1: #4DA473;
$color-secondary-1-2: #50A073;
$color-secondary-1-3: #488C65;
$color-secondary-1-4: #42835E;

$color-secondary-2-0: #D5B070;	// Main Secondary color (2) */
$color-secondary-2-1: #E6B96D;
$color-secondary-2-2: #E0B770;
$color-secondary-2-3: #C4A164;
$color-secondary-2-4: #B7965D;



// As RGBa codes */

$rgba-primary-0: rgba(121, 78,142,1);	// Main Primary color */
$rgba-primary-1: rgba(128, 76,153,1);
$rgba-primary-2: rgba(126, 78,149,1);
$rgba-primary-3: rgba(111, 70,130,1);
$rgba-primary-4: rgba(104, 65,122,1);

$rgba-secondary-1-0: rgba( 80,152,111,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 77,164,115,1);
$rgba-secondary-1-2: rgba( 80,160,115,1);
$rgba-secondary-1-3: rgba( 72,140,101,1);
$rgba-secondary-1-4: rgba( 66,131, 94,1);

$rgba-secondary-2-0: rgba(213,176,112,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(230,185,109,1);
$rgba-secondary-2-2: rgba(224,183,112,1);
$rgba-secondary-2-3: rgba(196,161,100,1);
$rgba-secondary-2-4: rgba(183,150, 93,1);
