@import '../../../../global_style';

.OpenRule{
  width: 360px;
  height: 200px;
}
.OpenRuleHeader{
  width: 360px;
  height: 50px;
  background: $color-primary-1;
  padding-top: 5px;
  border-radius: 25px 25px 0px 0px;
}
.OpenRuleTitleContainer{
  width: 180px;
  text-align: center;
  float: left;
  margin-top: -2.5px;
}

.OpenRulePointContainer{
  float: right;
  margin-right: 5px;
}

.OpenRuleBody{
  text-align: center;
  width: 360px;
  height: 150px;
  margin-top: 50px;
  background: $color-primary-2-transparent;
  border-radius: 0px 0px 75px 75px;
}

.OpenRuleBodyButtonContainer{
  margin-top: 45px;
}
