@import '../../../../global_style';

.ActionHolder {
  width: 100%;
  height: 15%;
  background: $color-primary-2;
  border-radius: 90px 50px 0 90px;
}

.ActionHolder-User {
  width: 20%;
  height: 80%;
  margin-top: 1.5%;
  float: left;
}

.ActionHolder-Rule {
  width: 12.5%;
  height: 80%;
  float: left;
  text-align: center;
}

.ActionHolder-Consequence {
  width: 50%;
  height: 80%;
  float: left;
  line-height: 100%;
  text-align: center;
}

.ActionHolder-Indicator {
  width: 15%;
  height: 100%;
  float: left;
  margin-left: 1.5%;
  margin-top: -0.5%;
}

.ActionHolder-Timestamp {
  width: 100%;
  height: 20%;
  text-align: center;
}
