@import '../../../global_style';

.InteractionButton{
  width: 100px;
  height: 50px;
  background-color: $color-interaction;
  border-radius: 25px;
  border: none;
  box-shadow: $interaction-shadow;
}
