@import '../../../../global_style';

.MessageHolder {
  width: 100%;
  height: 15%;
  background: $color-primary-1;
  border-radius: 0 50px 50px 50px;
}

.MessageHolder-User {
  width: 20%;
  height: 100%;
  float: left;
}

.MessageHolder-Text {
  width: 80%;
  height: 80%;
  float: left;
  text-align: left;
  line-height: 100%;
}

.MessageHolder-Timestamp {
  width: 100%;
  height: 20%;
  text-align: center;
}
