@import '../../../../global_style';

.MessageHolder {
  width: 100%;
  height: 100px;
  background: $color-primary-1;
  border-radius: 0 50px 50px 50px;
}

.MessageHolder-User {
  width: 19%;
  height: 100%;
  // margin-bottom: 1.5%;
  float: left;
  margin-left: 10px;

}

.MessageHolder-Text {
  width: 80%;
  height: 80%;
  float: left;
  text-align: left;
  line-height: 100%;
}

.MessageHolder-Timestamp {
  width: 100%;
  height: 20%;
  text-align: center;
}
