amqp==2.4.1
atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
coverage==4.5.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-PyMongo==2.2.0
Flask-SocketIO==3.2.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
kombu==4.3.0
MarkupSafe==1.0
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pymongo==3.7.2
pytest==3.9.2
pytest-cov==2.6.0
python-engineio==3.3.0
python-socketio==3.1.2
python-vlc==3.0.4106
six==1.11.0
vine==1.2.0
Werkzeug==0.14.1
