.MainProfile{
  width: 360px;
  height: 140px;

}
.MainProfileAvatar{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  float: left;
}
.MainProfileUserInfo{
  height: 70px;
  float: left;
  text-align: center;
  padding-top: 35px;
}
