.MainProfile {
  width: 100%;
  height: 100%;
}

.MainProfileAvatar {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  float: left;
  object-fit: fill;
}

.MainProfileUserInfo {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 7.5%;
}
