@import './BaseActionAcknowledgement';

.ActionAcknowledgement{
    @extend %BaseActionAcknowledgement;
    background: $color-accent-2;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
