@import './BaseActionAcknowledgement';

.AvailableActionAcknowledgement{
    @extend %BaseActionAcknowledgement;
    background: $color-accent-1;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    box-shadow: $interaction-shadow;
}
