@import '../../../global_style';

.TabButton{
  height: 50px;
  width: 50px;
  background-color: $color-interaction;
  border-radius: 25px 0px 0px 25px;
  border: none;
  box-shadow: $interaction-shadow;
  font-size: 40px;
}
