@import '../../../global_style';

.Header{
  width: 880px;
  height: 200px;
  background: $color-primary-1;
  border-radius: 100px;
  text-align: center;
  line-height: 200px;
}

.HeaderGameName{
  font-size: 24px;
}
