@import '../../../../global_style';

.GameListItem{
  width: 70%;
  height: 50px;
  border-radius: 25px 25px 0px 0px;
  float: left;
  margin-right: 10px;
  background: $color-primary-2;
  text-align: center;
}
