@import '../../../../global_style';

.GameListItem{
  width: 70%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
  float: left;
  background: $color-primary-2;
  text-align: center;
}
 .GameListItem-JoinButton{
   width: 30%;
   height: 100%;
   float: right;
   // margin-top: 12.5%;
 }
