.SmallProfile{
  width: 100px;
  height: 75px;
  text-align: center;
}

.SmallProfileAvatar{
  height: 100%;
  width: 75%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit:fill;
}

//
// .SmallProfile{
//   width: 100%;
//   height: 100%;
//   text-align: center;
// }
//
// .SmallProfileAvatar{
//   height: 50%;
//   width: 50%;
//   border-radius: 50%;
//   display: block;
//   margin: 0 auto;
//   object-fit: scale-down;
// }
