{% extends "layout.html" %}
{% block body %}
<form action="/install" method="post">
  Desired Username:<br>
  <input type="text" name="username" value="{{ username }}">
  <br>
  <br><br>
  <input type="submit" value="Get Installer">
</form>
<a href="{{ url_for('install_instructions') }}"><button>How to install</button><a/>
<br>
<br>
<br>
<br>
<a href="{{ url_for('restart') }}"><button>Restart the game</button><a/>
<br>
<br>
<br>
<br>
<a href="{{ url_for('pull') }}"><button>Trigger git pull</button><a/>

{% endblock %}
