<!doctype html>
<html>
  <head>
    <title>GitDrnk</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=header>
      <div class=container>
        <h1 class=header-heading>GitDrnk</h1>
      </div>
    </div>
    <div class=nav-bar>
      <div class=container>
        <ul class=nav>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('rules') }}">Rules</a></li>
          <li><a href="{{ url_for('board') }}">Board</a></li>
          <li><a href="{{ url_for('upload') }}">Upload</a></li>
        </ul>
      </div>
    </div>
    <div class=content>

      {% block body %}
      {% endblock %}

    </div>
  </body>
  <div class=footer>
    <div class=container>
      &copy; Copyright 2018
    </div>
  </div>
</html>
