
.message-list {
    height: 70vh;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0pt;
}

.message-list::-webkit-scrollbar{
    width: 0;
}
