.PlayerCard {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: -30px;
  margin-right: 10px;
}

/* Clear floats */
.PlayerCard::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.PlayerCard img {
  float: left;
  max-width: 60px;
  width: 100%;
  /* margin-right: 20px; */
  border-radius: 50%;
}

/* Style time text */
.git-username-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.player-username-left {
  float: left;
  color: #999;
}
