.player-list {
  float: left;
  height: 90vh;
  width: 20vw;
  background: #73AD21;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
}

.player-list::-webkit-scrollbar{
    width: 0;
}
